@if (book()) {
    <div class="ui grid">
        <div class="eigth wide column">
            <h1 class="ui header">{{ book().title }}</h1>
            <h1 class="ui header">{{ book().author }}</h1>

            <div class="ui divider"></div>

            <div class="ui grid">
                <div class="four wide column">
                    <h4 class="ui header">Preis</h4> {{ book().price }}
                </div>
                <div class="four wide column">
                    <h4 class="ui header">Erschienen</h4> {{ book().year }}
                </div>
                <div class="four wide column">
                    <h4 class="ui header">ISBN</h4> {{ book().isbn }}
                </div>
            </div>

            <div class="sixteen wide column">
                <h3 class="ui header">Beschreibung</h3>
                {{ book().description }}
            </div>
        </div>
    </div>

    <button (click)="showBookList()" class="ui red button">
        Zurück zur Buchliste
    </button>
}
